body {
    font-family: 'PT Sans Caption', sans-serif;
    overflow: hidden;
}

.nav-arrow {
    font-size: 24px;
}

#slide-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: scale(1);
    transform-origin: left top 0;
    transform-style: preserve-3d;
    transition: all 0s ease-in-out 0ms;
    perspective: 4000px;
}

#canvas {
    transform: rotateZ(0deg) rotateY(0deg) rotateX(90deg) translate3d(0px, -8000px, -14000px);
    transform-origin: left top 0;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out 500ms;
}



.slide:not(.slide-active) {
    opacity: 0.1;
}

.slide {
    display: block;
    transition: opacity 1s ease 0s;
}

.slide-active {

}

#lion-wolf:not(.slide-active) {
    opacity: 0;
}

#task:not(.slide-active) {
    opacity: 0;
}

#lion-wolf {
    transform: translate(-50%, -50%) translate3d(0px, 8000px, 14000px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg) scale(1);
    transform-style: preserve-3d;
    position: absolute;

}

#task {
    transform: translate(-50%, -50%) translate3d(0px, 18000px, 10900px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg) scale(1);
    transform-style: preserve-3d;
    position: absolute;
}

#problem {
    position: absolute;
    width: 800px;
    left: 150%;
    top:150px;
    margin-left: -400px;
    opacity: 0;

}

#problem-2 {
    position: absolute;
    width: 800px;
    left: 150%;
    top:240px;
    margin-left: -400px;
    opacity: 0;

}

.problem-p {
    font-size: 24px;
    line-height: 40px;
}

.problem-p2 {
    font-size: 36px;
    line-height: 46px;
}
.problem-h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 72px;
}

#social {
    position: absolute;
    width: 800px;
    left: 50%;
    margin-left: -400px;
    top: -100%;
}

#group {
    position: absolute;
    width: 800px;
    left: -200%;
    margin-left: -400px;
    top: -200%;
}

#insite {
    position: absolute;
    width: 800px;
    left: 50%;
    top: 20%;
    margin-left: -400px;
    opacity: 0;
}


#art {
    position: absolute;
    width: 800px;
    left: 50%;
    top: 20%;
    margin-left: -400px;
    opacity: 0;
}

#final {
    position: absolute;
    width: 800px;
    left: 50%;
    top: 40%;
    margin-left: -400px;
    opacity: 0;
}

#banners {
    position: absolute;
    width: 800px;
    left: 50%;
    top: 10%;
    margin-left: -400px;
    opacity: 0;
}

#banners2 {
    position: absolute;
    width: 800px;
    left: 50%;
    top: 10%;
    margin-left: -400px;
    opacity: 0;
}

#banners3 {
    position: absolute;
    width: 800px;
    left: 50%;
    top: 10%;
    margin-left: -400px;
    opacity: 0;
}

.insite-p {
    font-size: 24px;
    line-height: 40px;
}

.insite-h1 {
    font-size: 72px;
    padding-bottom: 20px;
}